/* TITULO */
.productos-h1 {
  font-size: 28px;
  margin-bottom: 15px;
}

/* LISTA PRINCIPAL */
.productos ul {
  list-style: none;
  padding: 0;
}

/* ITEM CATEGORIAS */
.categorias > a {
  display: block;
  background: #f5f5f5;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.categorias > a:hover {
  background: #e8e8e8;
}

/* SUBMENU */
.submenu {
  display: none;
  margin-top: 10px;
  padding-left: 20px;
}

.submenu li {
  margin-bottom: 8px;
}

.submenu a {
  text-decoration: none;
  color: #444;
  cursor: pointer;
}

.submenu a:hover {
  text-decoration: underline;
}

/* IMG */
.contenedor-categorias {
  margin-top: 20px;
}

.titulo-categoria {
  font-size: 22px;
  margin-bottom: 10px;
}

.grid-imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 12px;
}

.grid-imagenes img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}
